<swiper-container loop="true" navigation="true">
    <swiper-slide>
        <img src="https://picsum.photos/3000/1000?random=1" />
    </swiper-slide>
    <swiper-slide>
        <img src="https://picsum.photos/3000/1000?random=2" />
    </swiper-slide>
    <swiper-slide>
        <img src="https://picsum.photos/3000/1000?random=3" />
    </swiper-slide>
    <swiper-slide>
        <img src="https://picsum.photos/3000/1000?random=4" />
    </swiper-slide>
    <swiper-slide>
        <img src="https://picsum.photos/3000/1000?random=5" />
    </swiper-slide>
</swiper-container>